DB_POSTGRESQL_DSN=postgres://postgres:password@localhost:5432/database?sslmode=disable
MAX_OPEN_CONNS= 50000
MAX_IDLE_CONNS= 50000
BUNDEBUG=true
REDIS_HOST=localhost:6379
REDIS_PASSWORD=
REDIS_INDEX_DB=0
REDIS_EXP=1